body { margin: 0; background-image: url('background.jpg'); background-size: cover; }
#container { margin: 0 20%; background-color: rgba(222, 222, 222, 0.91); padding-top: 1; padding-bottom: 1}
* { font-family: sans-serif; text-align: center; }
li { list-style: none; margin: 0 auto; text-align: justify; width: 30em; }
hr { width: 25%; }
h3 { color: rgb(42, 114, 169); }
h4 { color: red; }
a { text-decoration: none }