{% extends 'layout.html' %}
        {% block body %}
            <h1>404</h1><br />
            <p>Looks like that link was broken! Return <a href="{{url_for('index')}}">Home</a></p>
        {% endblock %}