{% extends "layout.html" %}
       {% block body %}
        <h2>Add Movie</h2>
        <form action="{{url_for('addMovie')}}" method="post">
            <table align="center">
                <tbody>
                <tr><td>Title:</td><td><input type="text" placeholder="Harry Potter" name="title" required /><br/></td></tr>
                <tr><td>IMDB link:</td><td><input type="text" placeholder="http://www.imdb.com/title/tt0241527/" name="imdbvar" required /><br /></td></tr>
                </tbody>
            </table>
            <input type="submit" value="Add movie" />
        </form>
        {% endblock %}