{% extends 'layout.html' %}
        {% block body %}
        {% for randomMovie in randomMovie %}
            <h2>Random Movie:</h2>
            <a href="/movie/{{randomMovie.imdbvar}}">{{randomMovie.title}}</a><br /><br />
        {% endfor %}
        <a href="{{url_for('index')}}">Randomize</a>

        <h2>All movies - <a href="{{url_for('addMoviePage')}}">Add Movie</a></h2>
        <ul>
        {% for movie in movies %}
            <li><a href="/movie/{{movie.imdbvar}}">{{movie.title}}</a></li>
        {% endfor %}
        </ul>
        {% endblock %}