<html>
    <head>
        <title>Movie Picker</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <!-- Temporary icon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    </head>
    <body>
        <div id="container">
            <div class="page">
                <h1><a href="{{url_for('index')}}">Movie Picker</a></h1>
                <!-- Eventually add login stuff here -->
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>