{% extends 'layout.html' %}
        {% block body %}
            <h1>{{title}}</h1><br />
            <h2>Rating: {{rating}}</h2>
            <img src="{{image}}" /><br/><br/>
            <a href="http://imdb.com/title/{{movievar}}">IMDB Page</a> | <a href="{{url_for('index')}}">Home</a>
        {% endblock %}